@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/SourceSansPro-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

p {
  line-height: 35px;
}

button,
input[type="submit"] {
  text-transform: uppercase;
  border: solid 1px rgba(177, 177, 177, 0.418);
  border-radius: 30px;
  padding: 19px 47px;
  background: none;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: 0.9s;
}

button:hover {
  color: rgba(121, 121, 121, 0.39);
  border-color: rgba(121, 121, 121, 0.39);
}

body {
  font-family: "font-1", "Courier New", Courier, monospace;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  /* border-bottom: solid 1px rgba(5, 5, 5, 0.089); la barre grise est a modifiée */
  border-bottom: 1px solid #74747471;
}

.story {
  display: flex;
  align-items: center;
  justify-items: center;
}

.story-container {
  width: 60%;
  margin: 0 auto;
}

.img {
  background: url(./assets/images/Run.jpg) center/cover;
  z-index: 10;
  /* height: 800px; */
  width: 100%;
  margin-top: 30px;
}

.header h2 {
  margin-bottom: 20px;
  font-size: 4rem;
}

.header p {
  margin-bottom: 40px;
  font-size: 1.45rem;
}

/* ******************************************************* */

.main {
  display: grid;
  grid-template-columns: 30% 70%;
  /* border-bottom: solid 1px rgba(187, 187, 187, 0.089); */
  border-bottom: 1px solid #74747471;
}

.magna {
  display: flex;
  align-items: center;
  justify-items: center;
}

.magna-container {
  width: 55%;
  margin: 0 auto;
  /* border: solid 1px rgb(49, 138, 111); */
}

.img2 {
  background: url(./assets/images/banner-1.jpg) center/cover;
  z-index: 10;
  width: 100%;
  height: 600px;
}

.main h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  /* border: solid 1px black; */
}

.main p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

/* ******************************************************* */

.main2 {
  display: grid;
  grid-template-columns: 70% 30%;
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.863); */
  border-bottom: 1px solid #74747471;
}

.tempus {
  display: flex;
  align-items: center;
  justify-items: center;
  /* border: solid 1px rgb(134, 33, 33); */
}

.tempus-container {
  width: 70%;
  margin: 0 auto;
  /* border: solid 1px rgb(49, 138, 111); */
}

.img3 {
  background: url(./assets/images/banner-2.jpg) center/cover;
  z-index: 10;
  width: 100%;
  height: 600px;
}

.main2 h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  /* border: solid 1px black; */
}

.main2 p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

/* ********************************************** */

.grid {
  justify-content: center;
  display: grid;
  height: 800px;
  grid-template-rows: auto;
  justify-content: center;
  /* border: solid 1px black; */
  margin-bottom: 100px;
  /* border-bottom: 1px solid #74747471; */
}

.grid h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 140px;
}

.grid-container {
  display: grid;
  /* border: solid 1px black; */
  width: 80vh;
  text-align: center;
  font-size: 1.1rem;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 200px;
  grid-template-areas:
    "i1 i2"
    "ta ta";
}

#message {
  grid-area: ta;
  /* border: solid 1px black; */
  /* margin-top: -110px; */
}

#surname {
  grid-area: i1;
  width: 100%;
}

#email {
  grid-area: i2;
  width: 100%;
}

.grid-container input[type="text"] {
  padding: 20px;
  margin: 5px;
  /* border: solid 1px black; */
  justify-content: center;
}

textarea {
  width: 100%;
  margin: 5px;
  resize: none;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
}

footer {
  position: relative;
}

ul::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background: grey;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

i {
  border: solid 1px rgba(141, 141, 141, 0.479);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
}

ul {
  text-align: center;
  margin-bottom: 200px;
}

li {
  display: inline;
  padding: 5px;
  margin-left: 2px;
}
